<main style="max-width: 500px; margin: auto;">
  <h2><%= t('shared.login') %></h2>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
    <div class="mb-3">
      <%= f.input :email, required: true, autofocus: true %>
    </div>

    <div class="mb-3">
      <%= f.input :password, required: true %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-check mb-3">
        <%= f.check_box :remember_me, class: "form-check-input" %>
        <%= f.label :remember_me, class: "form-check-label" %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit t('shared.login'), class: "btn btn-primary" %>
      <%= render "users/shared/links" %>
    </div>
  <% end %>
</main>