<%= form_with url: url, method: :get, local: true do |form| %>
  <div class="o-switch btn-group no-outline" data-toggle="buttons" role="group">
    <label class="btn btn-light">
      <input type="radio" name="scope" value="all"
             <%= "checked" if params[:scope] == "all" || params[:scope].blank? %>>
      All
    </label>
    <label class="btn btn-light">
      <input type="radio" name="scope" value="done" <%= "checked" if params[:scope] == "done" %>>
      Done
    </label>
    <label class="btn btn-light">
      <input type="radio" name="scope" value="not-done" <%= "checked" if params[:scope] == "not-done" %>>
      Not Done
    </label>
  </div>
  <%= form.submit "Filter", class: "btn btn-primary" %>
<% end %>