<!DOCTYPE html>
<html>
  <head>
    <title>Juicymo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render "partials/authenticated_nav" %>
    <% else %>
      <%= render "partials/unauthenticated_nav" %>
    <% end %>
    <%= yield %>

    <dev class="fixed-bottom">
      <%= render "partials/layouts/notice_alert_box", notice: notice, alert: alert %>
    </dev>
  </body>
</html>
