<!DOCTYPE html>
<html>
  <head>
    <title>Juicymo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render "partials/authenticated_nav" %>
    <% else %>
      <%= render "partials/unauthenticated_nav" %>
    <% end %>
    <%= yield %>

    <dev class="fixed-bottom">
      <% if notice %>
        <p class="alert alert-primary mb-0" role="alert"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-warning mb-0" role="alert"><%= alert %></p>
      <% end %>
    </dev>
  </body>
</html>
