<main style="max-width: 500px; margin: auto;">
  <h2><%= t('shared.signup') %></h2>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
    <div class="mb-3">
      <%= f.input :first_name, label: t('.first_name'), autofocus: true, required: true %>
    </div>

    <div class="mb-3">
      <%= f.input :second_name, label: t('.second_name'), required: true %>
    </div>

    <div class="mb-3">
      <%= f.input :email, required: true %>
    </div>

    <div class="mb-3">
      <%= f.label :password, required: true %>
      <% if @minimum_password_length %>
      <em>(<%= "#{@minimum_password_length} #{t('.character_minimum')}" %>)</em>
      <% end %><br />
      <%= f.input :password, label: false, required: true %>
    </div>

    <div class="mb-3">
      <%= f.input :password_confirmation, required: true %>
    </div>

    <div class="actions">
      <%= f.submit t('shared.signup'), class: "btn btn-primary" %>
      <%= render "users/shared/links" %>
    </div>
  <% end %>
</main>

